table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 6px solid #fed100;
    margin-left: auto;
    margin-right: auto;
  }

  .first-column {
    width: 20%;
  }

  .middle-column {
    width: 55%;
  }
  
  .second-column {
    width: 30%;
  }
  
  .third-column {
    width: 25%;
  }
  
  .last-column {
    width: 25%;
  }
  
  th,td{
    border: 1px solid #fed100;
    text-align: center  
  } 

  th,td {
    padding: 5px;
  }

/* typography */

/* tbody td {
  text-align: center;
} */

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #eaeaeaef;
}

table {
  background-color: #eaeaeaef;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}