{% extends "base.html" %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    </head>
    <body>
        <div class="container">
          <h1>{{ title }}</h1>
          <hr>
          <table id="data" class="table table-striped">
            <thead>
              <tr>
                <th>DateTime</th>
                <th>Pressure 1</th>
                <th>Pressure 2</th>
                <th>Flow</th>
                <th>Valve position</th>
              </tr>
            </thead>
            <tbody>
              {% for data in datas %}
                <tr>
                  <td>{{ data.datetime }}</td>
                  <td>{{ data.pressure1 }}</td>
                  <td>{{ data.pressure2 }}</td>
                  <td>{{ data.flow }}</td>
                  <td>{{ data.valve_position }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
        {% block scripts %}
          <script>
            $(document).ready(function () {
              $('#data').DataTable();
            });
          </script>        
        {% endblock %}
    </body>
{% endblock %}