{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<html>
<head>
<style>
.button {
    height: 50px;
    width: 100px;
    margin: 0 auto;
    display: block;
    font-size: 20px;
}  
</style>
<script>
function outputUpdate(valve_opening) {
    document.querySelector('#valve-opening').value = valve_opening;
}
</script>
</head>
<body>
<form method="POST">
    <p>
       {{ form.valve_opening.label }}:
       {{ form.valve_opening(min=0, max=100, oninput="outputUpdate(value)") }}
       <output for="Control valve opening" id="valve-opening">{{ form.valve_opening.data }}</output>
    </p>
    <div class="row">{{ form.submit(class_ = "button") }}</div>
</form>
</body>
</html>
{% endblock %}